{% extends "base.html" %}
{% block content %}
<h1>Редактировать</h1>
{% if errors %}
    <div>{% for e in errors %}<p>{{ e }}</p>{% endfor %}</div>
{% endif %}
<form method="post">
    <input name="name" value="{{ wish.name }}" required>
    <input name="price" value="{{ wish.price }}" required>
    <input name="url" value="{{ wish.url or '' }}">
    <select name="status">
        <option {% if wish.status=='хочу' %}selected{% endif %}>хочу</option>
        <option {% if wish.status=='в пути' %}selected{% endif %}>в пути</option>
        <option {% if wish.status=='куплено' %}selected{% endif %}>куплено</option>
    </select>
    <button>Сохранить</button>
</form>
{% endblock %}
